<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zer0.project.closeMart.mapper.MartListMapper">
    <select id="getMartList" resultType="zer0.project.closeMart.dto.martListDto">
        SELECT * FROM martList
        <where>
            <if test="zone != null">
                AND zone=#{zone}
            </if>
            <if test="city != null">
                AND city=#{city}
            </if>
            <if test="martOperator != null">
                AND martOperatorName=#{martOperator}
            </if>
        </where>
    </select>
</mapper>